.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(169, 250, 223);
  margin: 0;
  line-height: 1.5em;
}

h1 {
  font-size: 2em;
}

h1, h2 {
  font-family: 'Oswald';
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

header, main {
  padding: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  border-bottom: 1px solid rgb(230, 39, 39);
}

h1 {
  margin: 0 20px;
  flex-grow: 1;
}

.options {
  padding: 10px 0;
}

section {
  margin: 20px auto;
  width: 90%;
  min-width: 650px;
}


/* .pokemon-list {
  display: flex;
  flex-wrap: wrap;
} */

/* .pokemon- li {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 200px;
  width: 200px;
  min-width: 200px;
  border: 1px solid #aaa;
  background-color: white;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px;
} */
/* 
.cats li h2 {
  font-size: 1.5em;
}

.cats li .cat-type {
  font-size: .8em;
  color: #555;
}

.cats li .year {
  font-size: .8em;
}

.image-container {
  height: 50%;
}

.image-container img {
  height: 100%;
  object-fit: contain;
}

.cat-type-filter {
  height: 48px;
  width: 150px;
  font-size: 1.2em;
} */
